extends ../index

block metas
   //- meta(name='description', content='This is an example description!')

block afterNav
   h3 Add Rep
   div.row-fluid
      if rep.status=='new'
         form.form-horizontal(action='/admin/addRep', method='POST', autocomplete='off')
            input(type='hidden', name='addedBy', value='#{rep.addedBy}')
            div.control-group
               label.control-label(for='name') Name
               div.controls
                  input(type='text', name='name', value='#{rep.name}')
            div.control-group
               label.control-label(for='twitterName') Twitter Name
               div.controls
                  input(type='text', name='twitterName', value='#{rep.twitterName}')
            div.control-group
               label.control-label(for='photo') Photo
               div.controls
                  input(type='text', name='photo', value='#{rep.photo}')
            div.control-group
               label.control-label(for='state') State
               div.controls
                  select(name='state')
                     each state in states
                        option(value='#{state.abbr}', selected=state.abbr===rep.state)= state.name
            div.control-group
               label.control-label(for='body') Body
               div.controls
                  select(name='body')
                     each category in categories
                        option(value='#{category.name}', selected=rep.body==='#{category.name}')= category.name
            div.control-group
               label.control-label(for='party') Party
               div.controls
                  select(name='party')
                     option(value='Republican', selected=rep.party==='Republican') Republican
                     option(value='Democrat', selected=rep.party==='Democrat') Democrat
                     option(value='Other', selected=rep.party==='Other') Other


            div.form-actions
               button.btn.btn-primary(type='submit') Add Rep
               | &nbsp;&nbsp;
               a.btn(href='/admin/addRep') Cancel

         form.form-horizontal(action='/admin/denyRep', method='POST', autocomplete='off')
            input(type='hidden', name='twitterName', value='#{rep.twitterName}')
            div.form-actions
               button.btn.btn-danger(type='submit') Deny Rep

      else
         h3 REP ALREADY CONFIRMED OR DENIED

block modals

block pageScripts
