extends ../index

block metas
   //- meta(name='description', content='This is an example description!')

block afterNav
   h3 Suggested Additions
   div.row-fluid
      div.btn-group(data-toggle='buttons-checkbox')
         button.filters.btn.active(type='button', id='new') New
         button.filters.btn(type='button', id='confirmed') Confirmed
         button.filters.btn(type='button', id='denied') Denied

   div.row-fluid
      if (reps.length > 0)
         //- TODO: need to add logic for denied and confirmed and ability to hide those
         table.table.table-bordered.table-condensed
            thead
               tr
                  th Name
                  th Twitter Name
                  th Party
                  th Body
                  th Added By
                  th Suggested
                  th Last Action
            tbody
               each rep in reps
                  - var klass = rep.status
                  if (rep.status == 'confirmed' || rep.status == 'denied')
                     - klass += ' hide';
                  tr(class='#{klass}')
                     td
                        a(href='/admin/addRep/#{rep._id}')= rep.name
                     td @#{rep.twitterName}
                     td= rep.party
                     td= rep.body
                     td: a(href='/profile/#{rep.addedBy.username}')= rep.addedBy.username
                     td= moment(rep.added).fromNow()
                     if rep.status == 'new'
                        td New
                     else
                        td= moment(rep.modded).fromNow()
block modals

block pageScripts
   script.
      $(document).ready(function(){
         // Any time a filter button is clicked, filters should be applied
         $('.filters').click(function(){
            var rType = $(this).attr('id');
            $(this).button('toggle');
            $(this).toggleClass('active');
            $('.'+rType).toggle();
         });
      });