!!!

//- TODO: Create a mixin to display a tweet according to the twitter guidelines
mixin showTweet(tweet)
   p Nothing Yet

//- TODO: Create a mixin to display a twitter profile acc. to twitter guides
mixin twitterProfile(user)
   p Nothing Yet

html
   head
      title= title
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.3.1/spruce/bootstrap.min.css')
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
      link(rel='icon', href='/img/favicon.ico', type='image/x-icon')

      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='title', content='#{title}')
      //- For Facebook
      if (locals.fbimage)
         meta(property='og:image', content='#{fbimage}')
         meta(name='twitter:image', content='#{fbimage}')
      else
         meta(property='og:image', content='http://i.imgur.com/iFVvwq6.png')
         meta(property='twitter:image', content='http://i.imgur.com/iFVvwq6.png')
      meta(property='og:title', content='#{title}')
      meta(property='og:url', content='#{url}' )
      meta(property='og:site_name', content='GrassTweets.com')
      meta(property='og:type', content='activism')
      //- Need to add TwitterCard Metas
      meta(name='twitter:card', content='summary')
      meta(name='twitter:title', content='#{title}')
      meta(name='twitter:site', content='@GrssTwts')
      meta(name='twitter:domain', content='grasstweets.com')
      block metas
         meta(name='twitter:description', content='GrassTweets.com keeps you in touch with your representatives through the magic of Twitter! Create a message and send it to all of your reps individually!')
         meta(name='description', content='GrassTweets.com keeps you in touch with your representatives through the magic of Twitter! Create a message and send it to all of your reps individually!')
   body
      div.navbar.navbar-fixed-top
         div.navbar-inner
            div.container-fluid
               button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.brand(href='/'): img(src='http://i.imgur.com/BSvJaVh.png', border='0')
               div.pull-right
                  ul.nav
                     if user
                        li.dropdown
                           a.dropdown-toggle(href='#', data-toggle='dropdown')
                              | Hi #{user.name}
                              b.caret
                           ul.dropdown-menu
                              //-li
                                 a(href='/needmorestuff')
                              li
                                 a(href='/logout') Log Out
                              if user.username==='GrssTwts'
                                 li
                                    a(href='/admin') Admin Section
                     else
                        li.dropdown
                           a.dropdown-toggle(href='/login') Login
                              b.caret

               div.nav-collapse.collapse
                  ul.nav
                     each link in links
                        - var isActive = (link.path == current ? 'active' : '')
                        li(class = '#{isActive}')
                           a(href='#{link.path}')= link.label
               ///.nav-collapse
                     
      div.container-fluid   
         block afterNav
            div.row-fluid
               h3 Welcome to GrassTweets.com!
            if user
               div.row-fluid
                  div.span1
                  div.span3
                     h4 Hello again, #{user.name}
                     p
                        a(href='/tweet') Send a Tweet
                     p
                        a(href='/profile') View Your Profile
                     p
                        a(href='/reps') View Your Reps
                     p
                        a(href='/logout') Log Out
                  div.span1
                  div.span6
                     h4 Latest Tweets
                     ul
                        each tweet in tweets
                           li
                              a(href='/profile/#{tweet.user.username}') @#{tweet.user.username}:
                              |&nbsp;
                              a(href='/tweet/#{tweet._id}') "#{tweet.message.substr(0, 40)}..."
                              | &nbsp;to 
                              strong #{tweet.reps.length}
                              | &nbsp;reps
                  div.span1

            else
               div.row-fluid
                  div.span1
                  div.span10
                     h4 First time here?
                     p.
                        GrassTweets.com is a simple website. Our goal is to connect you with your
                         elected officials, by sending tweets that mention them specifically. 
                         For example:
                  div.span1
               div.row-fluid
                  div.span3               
                  div.span6.well
                     | ".@SoAndSoforCongress Thanks for voting on that bill! Please support H.3101!"
                  div.span3
               div.row-fluid
                  div.span1
                  div.span10
                     p.
                         Click the "Sign in with Twitter" button below to get started. If you 
                         don't have an account, don't worry, one will be created for you. Welcome!
                     a(href='/auth/twitter')
                        img(src='/img/twittersignin.png', border='0')
                  div.span1   
            div.row-fluid &nbsp;

            div.row-fluid
               div.span2
               div.span8
                  img(src='http://i.imgur.com/pfWPbTn.png')
               div.span2
            div.row-fluid &nbsp;
            div.row-fluid
               div.span1 &nbsp;
               div.span1
                  script.
                     var CoinWidget_Config = {
                        address : '1AAXC4zQtazC4ioeBssXdKmFpVxrAizmLC',
                        counter : 'hide',
                        text_label : 'GrassTweets Bitcoin Address:'
                     };
                  script(src='http://c.coinwidget.com/widget.js')
               div.span10
                  p &nbsp;If you like GrassTweets.com, please consider a Bitcoin Donation
            div.hide
               img(src='http://i.imgur.com/iFVvwq6.png')
      //- modals and other hidden things
      block modals


      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
      block pageScripts
         script(src='/js/index.js')


