extends index
//- better have that first line or none of this will work!

   ***************************************************************************
   I have set this layout up so that you never need to do a "block appends"
   But, you do need to include each block, even if it is empty, so that you
   don't load unecessary code from index (although it won't break anything)
   ***************************************************************************

block metas
   //- meta(name='description', content='This is an example description!')         

block afterNav
   h3 @#{user.username} on GrassTweets
   div.row-fluid
      div.span1
         img(src='#{user.photo}')
      div.span6.well
         p
            b Name
            | &nbsp;- #{user.name}
         p
            b Twitter Id
            | &nbsp;- #{user.tid}
         p
            b State
            | &nbsp;- #{user.state}
      div.span5
   div.row-fluid
      h5 Tweets:
      each tweet, i in tweets
         dl.dl-horizontal
            dt #{i+1}
            dd
               a(href='/tweet/#{tweet._id}') #{tweet.created}

   div.row-fluid
      a(href='/profile/state') Change Your State

block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')