extends index
//- better have that first line or none of this will work!

   ***************************************************************************
   I have set this layout up so that you never need to do a "block appends"
   But, you do need to include each block, even if it is empty, so that you
   don't load unecessary code from index (although it won't break anything)
   ***************************************************************************

block metas
   //- meta(name='description', content='This is an example description!')         

block afterNav
   h3 @#{user.username} on GrassTweets
   div.row-fluid
      div.span2
         - var photo = user.photo || ''
         - photo = photo.replace(/\_normal/, '');

         a(href='http://twitter.com/#{user.username}', target='_new')
            img(src='#{photo}', border='0')
      div.span6.well
         p
            b Name:
            | &nbsp;#{user.name}
         p
            b Twitter Id:
            | &nbsp;#{user.tid}
         p
            b Member Since:
            | &nbsp;#{moment(user.created).format('MMMM Do YYYY, h:mm:ss a')}
         p
            b State:
            | &nbsp;#{user.state} &nbsp;-&nbsp;
            small &nbsp;
               a(href='/profile/state') Change Your State
      div.span4
   div.row-fluid
      div.span8
         h4 Activity:
         table.table.table-condensed.table-striped.table-bordered
            theader
               tr
                  th Sent
                  th # Reps
                  th Message
            tbody
               each tweet in tweets
                  tr
                     td
                        a(href='/tweet/#{tweet._id}') #{moment(tweet.created).format('MMMM Do YYYY, h:mm:ss a')}
                     td= tweet.reps.length
                     td= tweet.message

block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')