extends index

block metas
   meta(name='description', content='This is the GrassTweets.com profile for @#{profile.username}')

block afterNav
   //- For this page, the user object contains info about the logged in user
      whereas the profile object contains info about the requested twitter user

      Also: need to add logic that if the user isn't found, and the user is 
      logged in, they should tweet the person to get them to join grasstweets.com

   h3 @#{profile.username} on GrassTweets
   p This is the basic profile page
   div.row-fluid
      div.span1
         img(src='#{profile.photo}')
      div.span6.well
         p
            b Name
            | &nbsp;- #{profile.name}
         p
            b Twitter Id
            | &nbsp;- #{profile.tid}
         p
            b State
            | &nbsp;- #{profile.state}
      div.span5

block modals

block pageScripts
