extends index

block metas
   meta(name='description', content='This is the GrassTweets.com profile for @#{profile.username}. Check out their tweets!')
   meta(name='twitter:description', content='This is the GrassTweets.com profile for @#{profile.username}. Check out their tweets!')
   meta(name='twitter:creator', content='@#{profile.username}')

block afterNav
   //- For this page, the user object contains info about the logged in user
      whereas the profile object contains info about the requested twitter user

      Also: need to add logic that if the user isn't found, and the user is 
      logged in, they should tweet the person to get them to join grasstweets.com

   h3 @#{profile.username} on GrassTweets
   div.row-fluid
      div.span2
         - var photo = profile.photo || ''
         - photo = photo.replace(/\_normal/, '');
         a(href='http://twitter.com/#{profile.username}', target='_new')
            img(src='#{photo}', border='0')

      div.span6.well
         p
            b Name
            | &nbsp;- #{profile.name}
         p
            b State
            | &nbsp;- #{profile.state}
      div.span4
   div.row-fluid
      h5 Tweets:
      each tweet, i in profile.tweets
         dl.dl-horizontal
            dt #{i+1}
            dd
               a(href='/tweet/#{tweet._id}') #{tweet.created}


block modals

block pageScripts
