extends index

block metas
   meta(name='description', content='This page displays all of the representatives that are in the GrassTweets.com system, and provides a form for users to suggest additions!')

block afterNav
   h3 View GrassTweets Representatives
   //- This view is passed the 'reps' object containing all of the reps in the system
      for the current user's state. It is also passed the 'states' object containing
      all of the states that currently have reps in the system, and the 'currState' variable
      which denotes the current state
   div.row-fluid
      div.span6
         form(
            id='stateChange'
            action='/reps'
            method='GET')
            label Select a State: &nbsp;
               select.span2(name='state')
                  each state in states
                     option(value='#{state}', selected=state===currState)= state
      div.span6
         | Are we missing someone? 
         a(href='/reps/add') Suggest an Addition
         |&nbsp;-&nbsp;
         a(href='/reps/add/view') View Pending
   div.row-fluid
      if (reps.length>0)
         table.table.table-bordered.table-condensed
            thead
               tr
                  th Name
                  th Twitter Name
                  th Party
                  th Body
                  th Suggest Edit
            tbody
               each rep in reps
                  tr
                     td: a(href='/reps/#{rep.twitterName}')= rep.name
                     td @#{rep.twitterName}
                     td= rep.party
                     td= rep.body
                     td: a(href='/reps/fix/#{rep._id}')
                        i.icon-pencil
      else
         p There are no representatives on GrassTweets for #{currState}. Consider 
            a(href='/reps/add') adding one!
block modals

block pageScripts
   script.
      $(document).ready(function(){
         $('#stateChange').find('select').change(function(){
               $('#stateChange').submit();
            });
      });
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')