extends index

block metas
   meta(name='description', content='This is the tweet sending page on GrassTweets.com, used for sending tweets to elected representatives.')         

block afterNav
   div.row-fluid
      h2 Send a Tweet!
   div.row-fluid
      div.span1
      div.span10
         h4 Step 1 - Select the Recipients
         - var maxChars = 139
         - var longestName = 0
         p
            each rep in reps
               if (rep.twitterName.length > longestName)
                  - longestName = rep.twitterName.length
               | #{rep.twitterName},&nbsp;
      div.span1
   div.row-fluid
      div.span1
      div.span10
         h4 Step 2 - Compose your message
      div.span1
   div.row-fluid
      div.span1
      form(id='tweetForm')
         div.span10
            - var charsAvailable = maxChars - longestName
            div.span7.well
               textarea.input-block-level(
                  name='message'
                  id='message'
                  rows='3')
               a.btn.btn-small.btn-inverse(id='shorten') Shorten URLs
               span.pull-right
                  span Chars left:&nbsp;
                  span(id='charsCounter') #{charsAvailable}
            div.clearfix
            div.span5
               h4 Step 3 - Send it!
            div.span3
               button.btn Cancel
               |&nbsp;
               button.btn.btn-primary Tweet!

      div.span1
   div.row-fluid
      div.span1
      div.span10
      div.span1



block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   script(src='/js/tweetApp.js')
   script(src='https://apis.google.com/js/client.js')


