extends index
   
block metas
   meta(
      name='description'
      content='This is a GrassTweet from @#{tweet.user.username} sent to #{count} representatives.')
   meta(
      name='twitter:description'
      content='This is a GrassTweet from @#{tweet.user.username} sent to #{count} representatives.')
   meta(name='twitter:creator', content='@#{tweet.user.username}')

         

block afterNav
   //- This is where the page content goes
      Please remember that everything here is inside of a container-fluid
      You should use row-fluid divs inside of here
   h3 A GrassTweet from @#{tweet.user.username} to #{count} Representatives
   div.row-fluid
      div.span9
         dl.dl-horizontal
            dt From
            dd @#{tweet.user.username}
            dt Message
            dd= tweet.message
            dt Sent
            dd= moment(tweet.created).format('MMMM Do YYYY, h:mm:ss a')
            dt Recipients
            dd
               each rep in tweet.reps
                  if (rep.tweetId == 'ERROR')
                     | Error tweeting to #{rep.id.twitterName}&nbsp;
                  else
                     a.btn.btn-primary.btn-repLink(
                        href='http://twitter.com/#{tweet.user.username}/status/#{rep.tweetId}'
                        target='_new') @#{rep.id.twitterName}
                     |&nbsp;
      div.span3.
         <a href="https://twitter.com/share" class="twitter-share-button" data-via="GrssTwts" data-size="large" data-related="GrssTwts">Tweet</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')