extends index
   
block metas
   meta(
      name='description'
      content='This is a GrassTweet from @#{tweet.user.username} send to #{count} representatives.')

         

block afterNav
   //- This is where the page content goes
      Please remember that everything here is inside of a container-fluid
      You should use row-fluid divs inside of here
   h3 A GrassTweet from @#{tweet.user.username} to #{count} Representatives
   div.row-fluid
      div.span12
         dl.dl-horizontal
            dt From
            dd @#{tweet.user.username}
            dt Message
            dd= tweet.message
            dt Sent
            dd= tweet.created
            dt Recipients
            each rep in tweet.reps
               dd 
                  if (rep.tweetId == 'ERROR')
                     | Error tweeting to #{rep.id.twitterName}
                  else
                     a(
                        href='http://twitter.com/#{tweet.user.username}/status/#{rep.tweetId}'
                        target='_new') #{rep.id.twitterName}


block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')