extends index

block metas
   meta(name='description', content='This is the tweet sending page on GrassTweets.com, used for sending tweets to elected representatives.')         

block afterNav
   div.row-fluid
      h2 Send a Tweet!
   form(id='tweetForm')
      div.row-fluid
         h4 Step 1 - Select the Legislative Body
         - var maxChars = 137
         - var longestName = 0
         div.row-fluid
            div.span1
               label.checkbox.inline
                  strong Body
            div.span6
               each category in categories
                  label.checkbox.inline
                     input.categories(
                        type='checkbox'
                        value='#{category.short}')
                     | #{category.name}
            div.span1
               label.checkbox.inline
                  strong Party
            div.span2
               each party in parties
                  label.checkbox.inline
                     input.parties(
                        type='checkbox'
                        checked
                        value='#{party.name}')
                     | #{party.short}
         div.row-fluid.chkBoxDiv
            h4 Step 2 - Select the Recipients&nbsp;
               small (selected by default)
            each category in categories
               div.row-fluid.repCategory.hide(id='#{category.short}')
                  h5= category.name
                  each rep in reps
                     if rep.body == category.name
                        button(
                           type='button'
                           data-nameLength='#{rep.twitterName.length}'
                           data-repId='#{rep._id}'
                           class='btn btn-small repBtn #{rep.party}') #{rep.name} 


      div.row-fluid
         h4 Step 3 - Compose your message
      div.row-fluid
         - var charsAvailable = maxChars
         div.span7.well
            textarea.input-block-level(
               autofocus
               name='message'
               id='message'
               rows='3')
            a.btn.btn-small.btn-inverse(id='shorten') Shorten URLs
            span.pull-right
               span Chars left:&nbsp;
               span(id='charsCounter') #{charsAvailable}
         div.clearfix
         div.span5
            h4 Step 4 - Send it!
         div.span3
            a.btn(href='/tweet') Cancel
            |&nbsp;
            a.btn.btn-primary(href='#', id='tweetBtn') Tweet!

   div.row-fluid



block modals
   div.modal.hide.fade(id='confirmModal')
      div.modal-header
         h3 Confirm Tweet
      div.modal-body
         p(id='modalMessage')
         div.pull-right Are you sure you want to send it?
      div.modal-footer
         button.btn(data-dismiss='modal', aria-hidden='true') Cancel
         a.btn.btn-primary(id='confirmed', href='#') Tweet it!

block pageScripts
   script(src='/js/tweetApp.js')
   script(src='https://apis.google.com/js/client.js')


