extends index

block metas
   meta(name='description', content='This is the tweet sending page on GrassTweets.com, used for sending tweets to elected representatives.')         

block afterNav
   div.row-fluid
      h3 Send a Tweet!
   - var maxChars = 137
   - var longestName = 0
   form(id='tweetForm')
      div.row-fluid
         - var charsAvailable = maxChars
         div.span7.well
            strong Representatives Selected: 
               span(id='repsCounter') 0
            textarea.input-block-level(
               autofocus
               name='message'
               id='message'
               rows='3')
            a.btn.btn-small.btn-inverse(id='shorten') Shorten URLs
            span.pull-right
               span Chars left:&nbsp;
               span(id='charsCounter') #{charsAvailable}
            div.row-fluid
               div.pull-right
                  a.btn(href='/tweet') Cancel
                  |&nbsp;
                  a.btn.btn-primary(href='#', id='tweetBtn') Tweet!
         div.span5
            span.label Tips:
            small
               ul
                  li The "Chars Left" field takes into account the longest twitter username of those selected.
                  li You can select more than one legislative body.
                  li Go ahead and paste a really long URL. You can shorten it, or if it is too long, we'll shorten it automagically.
                  li Tweets are directed to the representatives using ".@TwitterName" so they are visible to your followers and those of the Representative.

      div.row-fluid
         div.span8
            h4 Who do you want to tweet?
            div.btn-group(data-toggle='buttons-checkbox')
               each category in categories
                  a.categories.btn.btn-primary(href='##{category.short}')= category.name
         div.span4
            h4 Toggle Party:
            div.btn-group(data-toggle='buttons-checkbox')
               each party in parties
                  a.parties.btn.active(href='##{party.name}')= party.name

      div.row-fluid.chkBoxDiv
         each category in categories
            div.row-fluid.repCategory.hide(id='#{category.short}')
               h5= category.name
               each rep in reps
                  if rep.body == category.name
                     button(
                        type='button'
                        data-nameLength='#{rep.twitterName.length}'
                        data-repId='#{rep._id}'
                        class='btn btn-mini repBtn #{rep.party}') #{rep.name} 


   div.row-fluid



block modals
   div.modal.hide.fade(id='confirmModal')
      div.modal-header
         h3 Confirm Tweet
      div.modal-body
         p(id='modalMessage')
         div.pull-right Are you sure you want to send it?
      div.modal-footer
         button.btn(data-dismiss='modal', aria-hidden='true') Cancel
         a.btn.btn-primary(id='confirmed', href='#') Tweet it!

block pageScripts
   script(src='/js/tweetApp.js')
   script(src='https://apis.google.com/js/client.js')


