extends index

block metas
   meta(name='description', content='These are all of the pending representatives on GrassTweets.com')

         

block afterNav
   h3 View Suggested Representatives
      //- This view is passed the 'reps' object containing all of the reps in the system
         for the current user's state. It is also passed the 'states' object containing
         all of the states that currently have reps in the system, and the 'currState' variable
         which denotes the current state
   div.row-fluid
      div.span6
         form(
            id='stateChange'
            action='/reps/add/view'
            method='GET')
            label Select a State: &nbsp;
               select(name='state')
                  each state in states
                     option(value='#{state.abbr}', selected=state.abbr===currState)= state.name
      div.span6
         | Are we missing someone? 
         a(href='/reps/add') Suggest an Addition
   div.row-fluid
      if (reps.length > 0)
         table.table.table-bordered.table-condensed
            thead
               tr
                  th Name
                  th Twitter Name
                  th Party
                  th Body
                  th Added By
                  th Suggested
            tbody
               each rep in reps
                  tr
                     td= rep.name
                     td= rep.twitterName
                     td= rep.party
                     td= rep.body
                     td: a(href='/profile/#{rep.addedBy.username}')= rep.addedBy.username
                     td= moment(rep.added).fromNow()
      else
         p There are no suggested representatives on GrassTweets for this state. Consider 
            a(href='/reps/add') adding one!

block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   script.
      $(document).ready(function(){
         $('#stateChange').find('select').change(function(){
               $('#stateChange').submit();
            });
      });
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')